<div class="conteiner_cards">
   <div class="title"><p><i class="fa fa-gamepad"></i>Novidades</p></div>
    <ul class="small-card">
       <li class="imagens-card-01 card-imagens">
          <a href="https://jogostorrents.site/download-baldurs-gate-3-pt-br-2-torrent/" target="_blank"><p class="mini-games"> {{TextCard1}}</p><img src="{{ photoCover1 }}" alt="blaudersgate" width="180px" height="90px" > </a> 
       </li>
 
       <li class="imagens-card-01 card-imagens">
          <a href="https://jogostorrents.site/download-baldurs-gate-3-pt-br-2-torrent/" target="_blank"><p class="mini-games"> {{TextCard2}}</p><img src="{{photoCover2}}" alt="blaudersgate" width="180px" height="90px" > </a>
       </li>
 
       <li class="imagens-card-01">
         <a href="https://jogostorrents.site/download-dead-island-2-pt-br-torrent/" target="_blank"><p class="mini-games"> {{TextCard3}}</p><img src="{{photoCover3}}" alt="deadisland" width="180px" height="90px" ></a>
       </li>
 
       <li class="imagens-card-01">
         <a href="https://jogostorrents.site/download-forza-horizon-5-pt-br-2-torrent/" target="_blank"><p class="mini-games01"> {{TextCard4}}</p><img src="{{photoCover4}}" alt="forza5" width="180px" height="90px" ></a>
       </li>
       <li class="imagens-card-01">
          <a href="https://jogostorrents.site/download-kill-the-crows-torrent/" target="_blank"><p class="mini-games01"> {{TextCard5}}</p><img src="{{photoCover5}}" alt="" width="180px" height="90px" ></a>
       </li>
       <li class="imagens-card-01">
          <a href="https://jogostorrents.site/download-kill-the-crows-torrent/" target="_blank"><p class="mini-games01">{{TextCard6}}</p><img src="{{photoCover6}}" alt="" width="180px" height="90px" ></a>
       </li>
    </ul>
 </div>