<div class="conteiner_cards">
   <ul class="small-card">
      <li class="titulo">
         <p> <i class="fa fa-heart"></i>
            MELHORES JOGOS DA SEMANA</p>
      </li>
      <li class="imagens-card-01 card-imagens">
         <a href="https://jogostorrents.site/download-baldurs-gate-3-pt-br-2-torrent/" target="_blank"><img src="{{ photoCover1 }}" alt="blaudersgate" width="340" height="180px" > </a> 
      </li>

      <li class="imagens-card-01 card-imagens">
         <a href="https://jogostorrents.site/download-baldurs-gate-3-pt-br-2-torrent/" target="_blank"><img src="{{photoCover2}}" alt="blaudersgate" width="310px"> </a>
      </li>

      <li class="imagens-card-01">
        <a href="https://jogostorrents.site/download-dead-island-2-pt-br-torrent/" target="_blank"><img src="{{photoCover3}}" alt="deadisland" width="310px"></a>
      </li>

      <li class="imagens-card-01">
        <a href="https://jogostorrents.site/download-forza-horizon-5-pt-br-2-torrent/" target="_blank"><img src="{{photoCover4}}" alt="forza5" width="310px"></a>
      </li>
      <li class="imagens-card-01">
         <a href="https://jogostorrents.site/download-grand-theft-auto-v-gta-5-pt-br-torrent/" target="_blank"><img src="{{photoCover5}}" alt="gta5" width="310px"></a>
      </li>
      <li class="imagens-card-01">
         <a href="https://jogostorrents.site/download-kill-the-crows-torrent/" target="_blank"><img src="{{photoCover6}}" alt="" width="310px"></a>
      </li>
      <li class="imagens-card-01">
         <a href="https://jogostorrents.site/download-red-dead-redemption-2-torrent/" target="_blank"><img src="{{ photoCover7}}" alt="" width="310px"></a>
      </li>
      <li class="imagens-card-01">
         <a href="https://jogostorrents.site/download-cyberpunk-2077-phantom-liberty-pt-br-torrent/" target="_blank"><img src="{{photoCover8}}" alt="" width="310px"></a>
       </li>
      <li class="imagens-card-01">
         <a href="" target="_blank"><img src="{{photoCover9}}" alt="starfield" width="310px"></a>
      </li>
   </ul>
</div>