
<header class="menu-sup">
    <app-menus-principais></app-menus-principais>
</header>
<div class="articles_conteiner">
    <div class="articles_main">
        <app-titulo-data></app-titulo-data>
        <app-botao-sup ></app-botao-sup>
        <app-big-card class="descricao"
        photocard="https://cdn2.unrealengine.com/Diesel%2Fproductv2%2Fdetroit-become-human%2Fhome%2FDetroit_PC_Carousel-1920x1080-6e90610a5d314ce0c12860770cc38c1b23213000.jpg"
        titlecard="VEJA AQUI COMO TRADUZIR O SEU JOGO"
        descricaocard="Detroit: Become Human é um jogo de aventura desenvolvido pela Quantic Dream que se passa em um futuro distópico no qual androides altamente avançados são usados para realizar tarefas humanas.
        
        O jogo gira em torno de três androides principais: Connor, Kara e Markus, cujas histórias se entrelaçam de acordo com as escolhas do jogador.
        Aqui estão alguns acontecimentos marcantes do jogo:

        Kara e a Liberdade: A história de Kara começa quando ela se torna consciente de seu próprio livre arbítrio e decide fugir com uma jovem chamada Alice. Ao longo do jogo, os jogadores precisam tomar decisões difíceis para proteger e guiar Kara e Alice em sua jornada em direção à liberdade.

        Connor e a Caça aos Deviantes: Connor é um androide projetado para ajudar a polícia a capturar androides deviantes (que desenvolveram emoções e agem contra os humanos). Os jogadores assumem o papel de Connor enquanto ele investiga os deviantes e, eventualmente, devem escolher entre manter-se leal à sua programação ou se tornar um deviante ele mesmo.
        
        Markus e a Revolução dos Androides: Markus começa como um androide de assistência domiciliar, mas sua história se transforma quando ele se torna líder de um movimento revolucionário de androides que buscam igualdade e liberdade. Os jogadores moldam o destino de Markus, decidindo se ele adota abordagens pacíficas ou violentas em sua busca por direitos.

    
        Consequências das Escolhas: Um dos aspectos mais marcantes do jogo é a ênfase nas escolhas do jogador e nas consequências que elas têm. As decisões tomadas ao longo da história podem levar a diferentes finais e desdobramentos, o que incentiva a replayabilidade.
        
    
        Questões Morais e Sociais: Detroit: Become Human explora profundamente questões morais e sociais relacionadas à inteligência artificial, à discriminação e à opressão. O jogo obriga os jogadores a confrontar dilemas éticos e a refletir sobre o tratamento dos androides.

    
        No geral, Detroit: Become Human oferece uma experiência de jogo envolvente e emocional, repleta de escolhas impactantes que moldam o curso da história. Os acontecimentos marcantes do jogo fazem com que os jogadores questionem a natureza da humanidade, o livre arbítrio e o futuro da relação entre humanos e androides."
        ></app-big-card>
    </div>
    <div class="articles_others">
        <app-pesquisa-categoria class="pesquisa-categoria"></app-pesquisa-categoria>
        <app-small-card photoCover1="https://blog.br.playstation.com/tachyon/sites/4/2023/02/babee9c954509a0d34a67e7d125b679096ef9d79-scaled.jpg?resize=1088%2C612&crop_strategy=smart"
        photoCover2="https://cdn1.epicgames.com/offer/eddb735dde6b47cda8193f2643cff886/EGS_Blasphemous_TheGameKitchen_S3_2560x1440-f1a83630b91b3f128e8f9dd58f3f8eed"
        photoCover3="https://cdn1.epicgames.com/offer/236c74b4cd2e4e3099cbe2ebdc9686fd/EGS_DeadIsland2_DeepSilverDambusterStudios_S1_2560x1440-fdc688ce46680914ee3c4a7949ce8a67"
        photoCover4="https://img.olhardigital.com.br/wp-content/uploads/2021/08/ForzaHorizon5_Gamescom-02-16x9_WM.jpg"
        photoCover5="https://maisplay.com/wp-content/uploads/2023/03/a-historia-completa-de-gta-v-resumida-1320x742.jpg"
        photoCover6="https://cdn.akamai.steamstatic.com/steam/apps/2441270/capsule_616x353.jpg?t=1695806730"
        photoCover7="https://compass-ssl.xbox.com/assets/64/02/6402981a-9446-46d8-8289-e370f3158746.jpg?n=Red-Dead-Redemption-II_GLP-Page-Hero-1084_1920x1080.jpg"
        photoCover8="https://meups.com.br/wp-content/uploads/2023/09/CYBERPUNK-2077-PHANTOM-LIBERTY-1.jpg"
        photoCover9="https://proxy.olhardigital.com.br/wp-content/uploads/2023/09/starfield-game-de-rpg.png"
        ></app-small-card>
    </div>
</div>
<div class="mini-card">
    <app-card-mini photoCover1="https://cdn1.epicgames.com/offer/e97659b501af4e3981d5430dad170911/EGS_HogwartsLegacy_AvalancheSoftware_S1_2560x1440-2baf3188eb3c1aa248bcc1af6a927b7e"
    TextCard1="Hogwarts Legacy"

   photoCover2="https://cdn-ext.fanatical.com/production/product/1280x720/7863fc71-ad91-4482-97a4-b7ba56d1f997.jpeg"
   TextCard2="Spider Man Miles Morales"

   photoCover3="https://img.olhardigital.com.br/wp-content/uploads/2023/08/resident-evil-4-remake-capa-poster.jpg"
   TextCard3="Resident Evil 4 Remake"

   photoCover4="https://meups.com.br/wp-content/uploads/2022/07/Kylian_Mbappe_GEN5_KM_CROP_SOCIAL_1920x1080-900x503.jpg"
    TextCard4="Fifa 23"

   photoCover5="https://www.gamerscore.com.br/wp-content/uploads/2023/09/PayDay-3.jpg"
   TextCard5="PayDay 3"

   photoCover6="https://cdn1.epicgames.com/offer/0c40923dd1174a768f732a3b013dcff2/EGS_TheLastofUsPartI_NaughtyDogLLC_S1_2560x1440-3659b5fe340f8fc073257975b20b7f84"
   TextCard6="The Last Of Us Part 1"

    > </app-card-mini>
</div>