.articles_conteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.descricao{
    word-break: keep-all;
}
 .articles_main, .articles_others{
    margin-top: 50px;
 }
 .articles_others{
    display: flex;
    flex-direction: column;
 }